<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<style>
	.form {
		margin: 0 auto;
		/* Add this line to center horizontally */
		justify-content: center;
		align-items: center;
		display: flex;
		width: 45%;
		border-radius: 8px;
		/* Should be removed. Only for demonstration */
	}
</style>

<body>
	<div class="form">
		<h2>Register</h2><br>
		<div></div><input class="inputBoxStyle">Enter usernmae</input>
		<div></div><input class="inputBoxStyle">Enter email</input>
		<div><input class="inputBoxStyle">Enter password</input></div>
		<div><input class="inputBoxStyle">Enter phone no</input></div>
	</div>
</body>

</html>